- name: Create Application User
  ansible.builtin.user:
    name: {{ lookup('amazon.aws.aws_ssm', '{{env}}.payment.amqp_user', region='us-east-1') }}

- name: Delete old app directory
  ansible.builtin.file:
    path: /app
    state: absent

- name: Create app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Download and Extract {{ component }} Content
  ansible.builtin.unarchive:
    src: https://roboshop-artifacts.s3.amazonaws.com/{{ component }}.zip
    dest: /app
    remote_src: yes